//META{"name":"fixxx","description":"кароче спешиал фор мав френдс","author":"lanc#4555","version":"Auto Update"}*//

.theme-dark {
	--background-message-hover: #36393f;
}

.buttons-cl5qTG {
    visibility: hidden;
}

.container-3npvBV {
	right: -1000px;
}